<div class="overflow-hidden bg-white shadow sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6 mb-4">
    <h3 class="text-lg font-medium leading-6 text-gray-900">Trabajo Final - Maestría de software</h3>
    <form [formGroup]="formFacts" (ngSubmit)="onSubmit(formFacts.value)" class="bg-gray-100 p-5">
      <div class="grid grid-cols-12 gap-6 ">
        <div class="col-span-3 sm:col-span-3">
          <label for="emisor" class="block text-sm font-medium text-gray-700">Emisor</label>
          <input
            type="text" name="emisor" id="emisor" formControlName="emisor"
            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm px-2"
          >
        </div>
        <div class="col-span-3 sm:col-span-3">
          <label for="valor" class="block text-sm font-medium text-gray-700">$.Valor</label>
          <input
            type="text" name="valor" id="valor" formControlName="valor"
            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm px-2"
          >
        </div>
        <div class="col-span-3 sm:col-span-3">
          <label for="descripcion" class="block text-sm font-medium text-gray-700">Descripción</label>
          <input
            type="text" name="descripcion" id="descripcion" formControlName="descripcion"
            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm px-2"
          >
        </div>
        <div class="col-span-3 sm:col-span-3">
          <button type="submit" class="inline-flex justify-center  border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">{{!formFacts.get('id')?.value ? 'Guardar' : 'Editar'}}</button>
          <button (click)="cancel()" type="button" class="inline-flex justify-center  border border-transparent bg-red-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">Cancelar</button>
        </div>
      </div>
      <span class="text-red-600 text-xs" *ngIf="!formFacts.valid && (formFacts.dirty || formFacts.touched)">*Llene todos los campos</span>
    </form>
  <div class="border-t border-gray-200">
    <dl>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-7 sm:gap-7 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Id</dt>
        <dt class="text-sm font-medium text-gray-500">Emisor</dt>
        <dt class="text-sm font-medium text-gray-500">Valor</dt>
        <dt class="text-sm font-medium text-gray-500">Descripción</dt>
        <dt class="text-sm font-medium text-gray-500">F. Creación</dt>
        <dt class="text-sm font-medium text-gray-500">F. Actualización</dt>
        <dt class="text-sm font-medium text-gray-500">Acciones</dt>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-7 sm:gap-7 sm:px-6" *ngFor=" let item of facts">
        <dd class="mt-1 text-sm text-gray-900 ">{{item.id}}</dd>
        <dd class="mt-1 text-sm text-gray-900 ">{{item.emisor}}</dd>
        <dd class="mt-1 text-sm text-gray-900 ">{{item.valor}}</dd>
        <dd class="mt-1 text-sm text-gray-900 ">{{item.descripcion}}</dd>
        <dd class="mt-1 text-sm text-gray-900 ">{{item.fecha}}</dd>
        <dd class="mt-1 text-sm text-gray-900 ">{{item.actualizado}}</dd>
        <dd class="mt-1 text-sm text-gray-900 ">
          <button (click)="edit(item.id)" type="button" class="inline-flex justify-center  border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Editar</button>
          <button (click)="delete(item.id)" type="button" class="inline-flex justify-center border border-transparent bg-red-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">Eliminar</button>
        </dd>
      </div>
    </dl>
  </div>
</div>
